<ion-header no-border>
  <ion-toolbar>
    <!-- positions the arrow at the start -->
    <ion-buttons slot="start">
      <ion-back-button color="medium"></ion-back-button>
      <!-- <div text-center> -->
      <p id=title> Recording </p>
      <!-- </div> -->
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content fullscreen>
  <div text-left>


    <ion-card no-border>
      <ion-card-content>
        <ion-card-title>
          <ion-button primary id="predict" (click)="predict()"> test
          </ion-button>
          <br>
          <p>
            Your prediction is: {{prediction}}
          </p>
          <br>
          <ion-button primary (click)="stopRecord()" *ngIf="recording">
            <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record
          </ion-button>
          <ion-button primary (click)="startRecord()" *ngIf="!recording">
            <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record
          </ion-button>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item *ngFor="let audio of audioList; index as i;">
        <p>{{audio.filename}}</p>
        <button ion-button clear item-end large (click)="playAudio(audio.filename, i)">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>