<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-tabs>


    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="measure">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>Measure</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="activity">
        <ion-icon name="stats"></ion-icon>
        <ion-label>Activity</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon name="timer"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>