<ion-content padding>
  <div text-center class="heart">
    <p> Your Heart. <span id="healthier"> Healthier. </span> <br> <span id="slogan">Predict heart disease.</span> </p>
  </div>
  <img src="assets/imgs/medicine_main.png" alt="heartlogo" class="heartlogo">
  <ion-row>
    <ion-col text-center>
      <ion-button id="login" [routerLink]="['/login']"> Login
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button fill="clear" id="signup" [routerLink]="['/signup']"> Sign up </ion-button>
    </ion-col>
  </ion-row>

</ion-content>