<ion-header no-border>
  <ion-toolbar>
    <!-- positions the arrow at the start -->
    <ion-buttons slot="start">
      <ion-back-button color="medium"></ion-back-button>
      <!-- <div text-center> -->
      <p> Sign Up </p>
      <!-- </div> -->
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content fullscreen>
  <ion-card no-border>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <ion-button id="login" [routerLink]="['/home']"> Get Started
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>