ion-content{
    font-family: "Open Sans";
}
.my-tabs {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    contain: layout size style;

    .my-tabs-inner {
        position: relative;
        flex: 1;
        contain: layout size style;
    }

    ion-tab-bar {
        width: 100%;
    }
}

ion-icon{
    // --background: linear-gradient(to right top, #eb334f, #f56575, #fb8e99, #fcb3bc, #fad8dd);
    // color: #e50023;
    color: #f56575;
}

ion-label{
    color: #000;
    font-weight: 600;
    opacity: 0.8;
}